/* Custom Stylesheet */
/**
 *
 */
// Functions & Mixins;
//@import "../bower_components/Materialize/sass/components/color";
@import "mixins";
@import "variables";

// Custom Variables
$base-font-size: 16px !default;

// Reset default html font sizes
html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $off-black;

  font-size: $base-font-size - .5px;

  @media #{$medium-and-up} {
    font-size: $base-font-size;
  }
}

a:hover {
  //text-decoration: underline;
}

p {
  line-height: 2rem;
  font-weight: 300;
}

.row, .col {
  position: relative;
}

.collapse .col {
  padding-left: 0;
  padding-right: 0;
}

.center-block {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.parallax-container {
  min-height: 333px;
  line-height: 0;
  height: auto;
  color: #fff;

  .section {
    width: 100%;
  }

  .parallax img {
    left: 0 !important;
    top: 0 !important;
  }
  // parallax-container
}

.section {
  padding: 2rem 0;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  // section
}

.header i,
.icon-block i {
  font-size: $h2-fontsize !important;
  color: $primary-color;
  display: block;
  text-align: center;
}

i.inline {
  display: inline-block;
  vertical-align: middle;margin-top: -7px;
}

#index-banner {

  h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 4.875rem;
    margin-top: 0;
    color: rgba(white, .88);
  }

  i {
    color: rgba($primary-color, .88);
    font-size: $h1-fontsize !important;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;

    span {
      color: $primary-color;
    }
  }

  p {
    margin-bottom: 2rem;
    font-size: $base-font-size + .5px;
  }
  // index-banner
}

.callouts-wrapper {
  background: $primary-color;
  //width: 100%;

  .container {
    background: rgba(0, 0, 0, .07);
    padding-left: 1rem;
    padding-right: 1rem;

    width: 75%;

    @media #{$medium-and-down} {
      width: 90%;
    }

    @media #{$small-and-down} {
      width: 90%;
      background: none;
    }
  }
}

#callout-wide {
  i {
    color: rgba(30, 144, 35, 0.77);
    font-size: 3rem !important;
  }
}

.icon-block {
  padding: 0 .5rem;

  i {
    color: $primary-color-dark;
  }

  h3 {
    font-size: $h5-fontsize;
  }
}

#projects {
  h4 {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .project {
    margin-bottom: 3rem;

    a {
      display: block;
      margin-bottom: 1.25rem;
    }

    h6 {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  .gallery {
    margin-bottom: 1rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    >div {
      margin-bottom: 1rem;
    }

    img {
      width: 100%;
      border: 1px solid #DDDDDD;
      border-radius: 3px;
    }
  }

  .chip {
    img {
      padding: 7px;
      margin: 0 0 0 -12px;
      width: auto;
    }

    i {
      margin-right: 5px;
      vertical-align: middle;
      font-size: 1rem;
    }
  }
}

#contact {
  .email, .in {
    text-align: center;
    margin-top: 1rem;

    a {
      display: block;

      &:hover i {
        text-shadow: 4px 0 11px #a7a7a7;
      }

      &:hover p {
        color: #999;
      }
    }

    p {
      font-weight: bold;
      margin-top: 0;
      color: color("grey", "darken-3");
    }
  }

  i {
    font-size: 4rem;
  }

  .email i {
    color: #DC0000;
  }

  .in i {
    color: #0F90D2;
  }
}

footer.page-footer {
  margin: 0;
  overflow: hidden; // fix for bg icon top/bottom position on media query

  a:hover {
    border-bottom: 1px dotted $primary-color-dark;
  }

  h5 {
    &.first {
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      color: $primary-color-dark;

      i {
        font-size: 2.5rem;
      }
    }
    &:not(.first) {
      font-size: 1.25rem;
    }
  }

  p i {
    font-size: inherit;
    color: $primary-color-dark;
  }

  .connect {
    float: right;

    i {
      font-size: .9rem;
    }
  }

  i.bg {
    font-size: 11rem;
    color: rgba($primary-color-dark, .33);
    position: absolute;
    right: 5%;
    top: 0;
    transform: rotate(17deg);

    @media #{$medium-and-down} {
      bottom: 0;
      top: auto;
    }
  }

  .footer-copyright {
    background: rgba(51, 51, 51, 0.44);
    text-align: right;
    font-size: .9rem;

    span {
      color: $primary-color;
    }
  }
}